Zadanie 1

In [3]:
n = int(input("Podaj liczbę rzędów: "))

for i in range(1, n): #iteruje od 1 do n-1, więc będzie n-1 iteracji
    for j in range(1, i + 1): #iteruje od 1 do i + 1, i = wartość z zewnętrznej pętli. Zaczyna od 1 dodaje i + 1, bo chce wydrukować cyfry od 1 do i.
        print(j, end="") #Wewnątrz pętli dajemy wartość j za pomocą funkcji print(j, end=""). end="" = po wypisaniu j nie będzie automatycznie wstawiany znak nowej linii = cyfry będą drukowane w jednym wierszu.
    print()

Podaj liczbę rzędów: 9
1
12
123
1234
12345
123456
1234567
12345678

Zadanie 2

In [4]:
n = 5  # ilość rzędów pierwszej części

for i in range(1, n + 1): #iteruje od 1 do n + 1. tutaj jest to iteracja od 1 do 6
    print('*' * i) #znak * x i = w pierwszym rzędzie 1 gwiazdka, w drugim rzędzie 2 gwiazdki itd.

for i in range(n - 1, 0, -1): #Druga pętla for ozpoczyna się od n - 1 i iteruje w dół do 1 (zmniejszaja wartość i o 1)
    print('*' * i)

*
**
***
****
*****
****
***
**
*

Zadanie 3

In [16]:

lista = [6, 2, 3, 7, 1, 12, 56, 99]
for i in range(len(lista)): #Pętla for przechodzi przez elementy listy numbers za pomocą indeksu i
    if 10 <= lista[i] < 100: #if prawdza, czy element jest dwucyfrową liczbą
        lista[i] = str(lista[i]) #jeśli warunek spełniony, element jest zamieniany na str = str(numbers[i])-->dwucyfrowe liczby są zamieniane na obiekty klasy String w liście.


print("Zmieniona lista:")
for item in lista:
    print(item)

Zmieniona lista:
6
2
3
7
1
12
56
99

In [15]:

min_value = min(lista, key=lambda x: int(x) if isinstance(x, str) else x) #key sprawdza, czy elementy są liczbami całkowitymi, f.lambda przyjmuje argument x, który jest el. listy,
#if isinstance(x, str) spr, czy x jest str, int(x) --> jeśli x jest str, to przerabia na l. całkowitą, else x-> jeśli x nie jest str, to zostaje tak, jak był
print("Najmniejsza wartość:", min_value)

Najmniejsza wartość: 1

ZADANIA DODATKOWE

In [18]:
x1 = input("wprowadź pierwszy napis: ")
x2 = input("wprowadź drugi napis: ")
if x1 == x2:
  print("napisy są takie same")
else:
  print("napisy nie są takie same")

wprowadź pierwszy napis: 0
wprowadź drugi napis: 4
napisy nie są takie same

In [20]:
#1 czy wprowadzone przez użytkownika dane typu String są takie same

x1 = input("wprowadź pierwszą liczbę: ")
x2 = input("wprowadź drugą liczbę: ")
if int(x1) == int(x2):
  print("liczby są takie same")

wprowadź pierwszą liczbę: 3
wprowadź drugą liczbę: 3
liczby są takie same

In [23]:
# Konwersja wpisanych danych na integer+ czy wprowadzone dane są takie same
x1 = input("wprowadź pierwszą liczbę: ")
x2 = input("wprowadź drugą liczbę: ")
if x1.isdigit() and x2.isdigit():
  if int(x1) == int(x2):
    print("liczby są takie same")
  else:
    print("liczby nie są takie same")
else:
  print("błędne dane")

wprowadź pierwszą liczbę: 3
wprowadź drugą liczbę: F
błędne dane

In [24]:
#3. Konwersja wpisanych danych na integer+ czy wprowadzone dane są takie same, jeżeli w inpucie podano inne znaki, niż cyfry-> błąd

x1 = input("wprowadź pierwszą liczbę: ")
if x1.isdigit():
  if int(x1) %2 == 0 :
    print("liczba jest parzysta")
  else:
    print("liczba nie jest parzysta")
else:
  print("błędne dane")

wprowadź pierwszą liczbę: 4
liczba jest parzysta

In [26]:
#czy użytkownik wpisał liczbę parzystą?
x1 = input("wprowadź pierwszą liczbę: ")
if x1.isdigit():
  if int(x1) %2 == 0 :
    print("liczba jest parzysta")
  else:
    print("liczba nie jest parzysta")
else:
  print("błędne dane")

wprowadź pierwszą liczbę: 1
liczba nie jest parzysta

In [31]:
#czy nieparzysta

x1 = input("Wprowadź liczbę: ")

if x1.isdigit():
    if int(x1) % 2 != 0:
        print("Liczba jest nieparzysta")
    else:
        print("Liczba nie jest nieparzysta")
else:
    print("Błędne dane")

Wprowadź liczbę: e
Błędne dane

In [36]:
#czy suma jest parzysta
x1 = input("Wprowadź pierwszą liczbę: ")
x2 = input("Wprowadź drugą liczbę: ")

if x1.isdigit() and x2.isdigit():
    cyfra1 = int(x1)
    cyfra2 = int(x2)

    suma = cyfra1 + cyfra2

    if suma % 2 == 0:
        print("Suma liczb", cyfra1, "i", cyfra2, "jest liczbą parzystą")
    else:
        print("Suma liczb", cyfra1, "i", cyfra2, "nie jest liczbą parzystą")
else:
    print("Błędne dane")

Wprowadź pierwszą liczbę: 4
Wprowadź drugą liczbę: 5
Suma liczb 4 i 5 nie jest liczbą parzystą

In [40]:
#Sprawdź, czy podane przez użytkownika hasło spełnia następujące warunki
  # -  przynajmniej jedna mała i jedna wielka litera
  # -  przynajmniej jedna cyfra
  # - przynajmniej jeden znak specjalny
  # - minimum 3 znaki długości
  # - maksymalnie 18 znaków długości

haslo = input("Wprowadź hasło: ")

if 3 <= len(haslo) <= 18:
    mala_litera = False
    wielka_litera = False
    cyfra = False
    znak_specjalny = False

    for znak in haslo:
        if znak.islower():
            mala_litera = True
        if znak.isupper():
            wielka_litera = True
        if znak.isdigit():
            cyfra = True
        if znak in "!@#$%^&*()_+{}[]:;<>,.?~\\|":
            znak_specjalny = True

    if mala_litera and wielka_litera and cyfra and znak_specjalny:
        print("Poprawne hasło.")
    else:
        print("Hasło musi spełniać wszystkie wymagania")
else:
    print("Twoje hasło jest zbyt krótkie lub zbyt długie powinno zawierać minimum 3, maksimum 18 znaków.")

Wprowadź hasło: Ola123!
Poprawne hasło.

In [42]:
#czy samogłoska czy spółgłoska
litera = input("Wprowadź literę: ")

if len(litera) == 1 and litera.isalpha():
    if litera in "aeiouy":
        print("To jest samogłoska.")
    else:
        print("To jest spółgłoska.")
else:
    print("To nie jest litera lub wpisałeś więcej niż jedną literę.")

Wprowadź literę: a
To jest samogłoska.

In [44]:
# z ilu dni składa się miesiąc
nie umiem :(

SyntaxError: ignored

In [47]:
#która z 3 podanych przez użytkownika jest największa oraz najmniejsza

liczba1 = float(input("Podaj pierwszą liczbę: "))
liczba2 = float(input("Podaj drugą liczbę: "))
liczba3 = float(input("Podaj trzecią liczbę: "))

najwieksza = max(liczba1, liczba2, liczba3)

najmniejsza = min(liczba1, liczba2, liczba3)

print("Największa liczba to:" , najwieksza)
print("Najmniejsza liczba to:" , najmniejsza)

Podaj pierwszą liczbę: 5
Podaj drugą liczbę: 6
Podaj trzecią liczbę: 7
Największa liczba to: 7.0
Najmniejsza liczba to: 5.0

In [48]:
#odwrócony napis
napis = input("Wpisz napis: ")

odwrocony_napis = napis[::-1]

print("odwrócony napis: ", odwrocony_napis)

Wpisz napis: ola
odwrócony napis:  alo

In [49]:
#wyświetl liczby 3:18
for liczba in range(3, 19):
    print(liczba)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
#zamiana na co drugą literę w słowie PROGRAMOWANIE na dowolny inny znak
nie umiem :(

In [50]:
#przyjmie listę [1, 2, 3, 4, 5] i w wyniku zwróci wartości pomnożone przez liczbę podaną

lista = [1, 2, 3, 4, 5]
liczba = float(input("Podaj liczbę do pomnożenia: "))
wynik = [x * liczba for x in lista]

print("Wynik mnożenia:", wynik)

Podaj liczbę do pomnożenia: 5
Wynik mnożenia: [5.0, 10.0, 15.0, 20.0, 25.0]

In [ ]:
#przyjmie od użytkownika dwie liczby. Następnie wyświetli użytkownikowi wszystkie liczby znajdujące się pomiędzy tymi dwiema liczbami
#np dla 1 oraz 4 wypisze 1,2,3,4

nie umiem :(

In [51]:
#suma wszystkich liczb w liście

lista = [1, 2, 3, 4, 5]
suma = sum(lista)
print("Suma liczb w liście:", suma)

Suma liczb w liście: 15

In [ ]:
#Napisz program, który poda sumę wszystkich n liczb, gdzie n to liczba podana przez użytkownika. Np. dla n = 3
nie rozumiem polecenia, co powinno tu końcowo wyjść?

In [ ]:
#Napisz program, który przyjmie następującą listę [\"Ala\", \"Patryk\", \"Jacek\"]
#i zamieni wszystkie litery znajdujące się na parzystych indeksach na cyfry\n"
nie umiem :(

In [ ]:
#fizz
też niestety nie mam pojęcia